In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:\VIT\Project\covidreport.csv")

In [3]:
df.head()

,Unnamed: 0,age,severity_illness,symptoms,treatment,len_people_infected_by_patient,ctscan,oximeter,rtpcr
0,0,56.0,good,fever,hospitalized,17,10,93,positive
1,1,70.0,good,fever,hospitalized,12,4,95,positive
2,2,1.0,curable,fever,hospitalized,2,1,96,positive
3,3,43.0,good,fever,home isolation,22,0,98,negative
4,4,39.0,critical,fever,hospitalized,6,15,87,positive

In [4]:
del df['Unnamed: 0']

In [5]:
del df['symptoms']

In [6]:
from sklearn.preprocessing import LabelEncoder
df['rtpcr']=LabelEncoder().fit_transform(df.rtpcr)
df.head()

,age,severity_illness,treatment,len_people_infected_by_patient,ctscan,oximeter,rtpcr
0,56.0,good,hospitalized,17,10,93,1
1,70.0,good,hospitalized,12,4,95,1
2,1.0,curable,hospitalized,2,1,96,1
3,43.0,good,home isolation,22,0,98,0
4,39.0,critical,hospitalized,6,15,87,1

In [7]:
a=df.drop('treatment',axis=1)
b=a.drop('severity_illness',axis=1)
X=b.drop('len_people_infected_by_patient',axis=1)
Y=df['treatment']
X.head()

    age  ctscan  oximeter  rtpcr
0  56.0      10        93      1
1  70.0       4        95      1
2   1.0       1        96      1
3  43.0       0        98      0
4  39.0      15        87      1

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=3)
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(X_train,Y_train)
a=int(input("Enter age : "))
b=input("rtpcr : ")
c=int(input("Oximter level : "))
d=int(input("Enter CTscan score : "))
if(b=='positive'):
    b=1
else:
    b=0
dat = [[a,b,c,d]]
data = pd.DataFrame(dat,columns=['age','rtpcr','oximeter','ctscan'])
prediction=logmodel.predict(data)
print(prediction)
a1=df.drop('treatment',axis=1)
b1=a1.drop('severity_illness',axis=1)
X1=b1.drop('len_people_infected_by_patient',axis=1)
Y1=df['severity_illness']
X1_train,X1_test,Y1_train,Y1_test=train_test_split(X1,Y1,test_size=0.3,random_state=0)
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(X1_train, Y1_train)
tions = gnb.predict(data)
print(gnb_predictions)

Enter age : 23
rtpcr : positive
Oximter level : 96
Enter CTscan score : 0
['home isolation']
['good']

In [20]:
X1.shape

(10000, 4)

In [21]:
Y1.shape

(10000,)